.search-box input{
  padding: 0 30px;
}
.email-user-list .el-dialog .el-dialog__body {
  padding: 1.5rem 1.5rem 1rem;
}
.email-user-list .el-dialog .el-dialog__body .el-form-item{
  margin-bottom: 0;
}

#emailAdd .el-tag, #emailAdd .el-checkbox{
  width: 25rem;
  margin-left: 10px;
}
#emailAdd .el-checkbox__label{
 font-size: 14px;
}
#emailAdd .el-tag {
  width: 25rem;
  position: relative;
}
#emailAdd .el-tag  i{
  position: absolute;
  top: 7px;
  right: 4px;
}
#emailAdd .input-new-tag{
  width: 22rem;
  font-size: 1.6rem;
}
#emailAdd .el-form-item{
  margin-top: 10px;
}
.template-list .el-dialog__body{
  padding-top: 1rem;
  padding-bottom: 0;
}
.template-list .show-msg{
  line-height: 16px;
  padding: 0;
  margin: 0;
}
.el-date-editor .el-range-separator{
  width: 6%;
}
.pagination-box{
  margin: 16px 0;
  text-align: center;
}
.el-form-item{
  margin-bottom: 10px;
}
.el-menu {
  border: none;
}

